<!doctype html>
<html lang="{{ site:short_locale }}">
{{ partial:head }}
<body>
{{ partial:nav }}
<div class="container-xl content-container content-container-sm" >
    <div class="card shadow">
        <div class="card-body">
            {{ user:reset_password_form }}
            <div class="form-floating mt-1">
                <input id="emailinput" type="text" name="email" class="form-control">
                <label for="emailinput">E-Mail</label>
            </div>

            <div class="form-floating mt-1">
                <input id="pwinput" type="password" name="password"  class="form-control">
                <label for="pwinput">Password</label>
            </div>

            <div class="form-floating mt-1">
                <input id="pwcinput" type="password" name="password_confirmation"  class="form-control">
                <label for="pwcinput">Password Confirmation</label>
            </div>
            <div class="mt-1">
                <button type="submit" class="btn btn-outline-primary w-100" >Change Password</button>
            </div>
            {{ if success }}

            <p class="alert alert-success">Password has been reset.</p>

            {{ elseif url_invalid }}

            <p class="alert alert-danger">This reset URL is invalid.</p>

            {{ else }}

            {{ if errors }}
            <div class="alert alert-danger">
                {{ errors }}
                {{ value }}<br>
                {{ /errors }}
            </div>
            {{ /if }}

            {{ /if }}

            {{ /user:reset_password_form }}
        </div>
    </div>
</div>
{{ partial:scripts }}
</body>
</html>



