<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{{ design:logo }}" height="30" width="auto"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-lg-row justify-content-lg-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {{ nav:pages }}
                {{ if children }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ title }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        {{ children }}
                        <li><a class="dropdown-item" href="{{ url }}">{{ title }}</a></li>
                        {{ /children }}
                    </ul>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{url}}">{{ title }}</a>
                </li>
                {{ /if }}
                {{ /nav:pages }}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Events
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/events">Overview</a></li>
                        {{ nav:events }}
                        <li><hr class="dropdown-divider"></li>
                        <li><h6 class="dropdown-header">{{ date_day format="D, Y-m-d" }}</h6></li>
                        {{ children }}
                        <li><a href="{{ url }}" class="dropdown-item" >{{ title }}</a></li>
                        {{ /children }}
                        {{ /nav:events }}
                    </ul>
                </li>
            </ul>
            <div class="btn-group btn-group-sm">
                {{ user:is role="admin|editor|participant" }}
                    {{ user }}
                        <a href="#" class="btn btn-outline-light">{{ first_name }} {{ last_name }}</a>
                        {{ user:in group="admins|editors" }}
                            <a href="/cp" class="btn btn-outline-light">Control Panel</a>
                        {{ /user:in }}
                        <a href="{{ user:logout_url }}" class="btn btn-outline-light">Log out</a>
                    {{ /user }}
                {{ /user:is }}
                {{ user:isnt role="admin|editor|participant" }}
                    <a href="/login" class="btn btn-outline-light">Log in</a>
                    <a href="/signup" class="btn btn-outline-light">Sign up</a>
                {{ /user:isnt  }}
            </div>
        </div>
    </div>
</nav>
